### Importing require libraries

In [26]:
import pandas as pd
import numpy as np
import os

In [27]:
# Folder containing Excel files
folder_path = r'raw_data\Data_2_Apeksha'

In [28]:
# List to store each DataFrame
dataframes = []

In [29]:
# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.xlsx') or file_name.endswith('.xls'):
        file_path = os.path.join(folder_path, file_name)
        # Read the Excel file into a DataFrame
        df = pd.read_excel(file_path, usecols="A:D")
        dataframes.append(df)

In [30]:
# Concatenate all DataFrames into one
data = pd.concat(dataframes, ignore_index=True)

print(f'Total Record Count: {data.shape}')
data.head()

Total Record Count: (7094, 4)

,id,Subject,Email Text,Label
0,738a2c78-e9b7-4886-8a1b-7af4c08f3906,RE: Yates Residence - Mechanical Contractor Me...,"Zac Stevenson, PEPRINCIPAL | BUILDING MEPC . ....",Neutral
1,23e4febf-364f-464a-9a3a-80f9d89d0e6b,Re: 6771 - VeLa - Level 4 Slab Penetration Plans,You tooRespectfullyMichael BentleyGeneral Fore...,Neutral
2,f0789ea4-0a5f-46c3-8adb-083766b63740,RE: FW: 13027A - 20240603 - Prl - Columbia + A...,You can update the two 12 ducts and adjust on ...,Positive
3,09474b0b-bc7f-4a1f-ab95-0ed2c497468a,RE: West Zephyrhills Elementary - Pasco County...,"You can start with Area A. Proceeded by B,C,D ...",Neutral
4,b7438359-ce6c-42f7-bcfd-5690e875dcda,RE: MLW_0001_CRS_24410_ Connacht Stadium - Exi...,You can hold off on doing this for now.,Neutral

In [31]:
# Renaming the columns
data.columns = [col.replace(" ","").lower() for col in data.columns]

In [36]:
data.head()
print(data.shape)

(7094, 4)

In [37]:
data.label.value_counts()

label
Neutral     6989
Negative      72
Positive      23
Name: count, dtype: int64

In [38]:
df = data.drop_duplicates(subset=['id']).copy()

In [39]:
df.head()

,id,subject,emailtext,label
0,738a2c78-e9b7-4886-8a1b-7af4c08f3906,RE: Yates Residence - Mechanical Contractor Me...,"Zac Stevenson, PEPRINCIPAL | BUILDING MEPC . ....",Neutral
1,23e4febf-364f-464a-9a3a-80f9d89d0e6b,Re: 6771 - VeLa - Level 4 Slab Penetration Plans,You tooRespectfullyMichael BentleyGeneral Fore...,Neutral
2,f0789ea4-0a5f-46c3-8adb-083766b63740,RE: FW: 13027A - 20240603 - Prl - Columbia + A...,You can update the two 12 ducts and adjust on ...,Positive
3,09474b0b-bc7f-4a1f-ab95-0ed2c497468a,RE: West Zephyrhills Elementary - Pasco County...,"You can start with Area A. Proceeded by B,C,D ...",Neutral
4,b7438359-ce6c-42f7-bcfd-5690e875dcda,RE: MLW_0001_CRS_24410_ Connacht Stadium - Exi...,You can hold off on doing this for now.,Neutral

In [40]:
df[['id', 'emailtext', 'label']].to_parquet('data\labeldata_7.parquet')

In [42]:
df.label.value_counts()

label
Neutral     5782
Negative      55
Positive      22
Name: count, dtype: int64

In [244]:
# Conerting the label column to numerical data 
df['label'] = df['label'].map({'Neutral': 0, "Positive":0, "Negative": 1})

In [245]:
df.label.value_counts()

label
0.0    5804
1.0      55
Name: count, dtype: int64

In [246]:
[col for col in data.columns if df[col].isnull().sum() > 0]

['subject', 'label']

In [247]:
df = df.dropna(subset = ['subject', 'label'])

In [248]:
[col for col in data.columns if df[col].isnull().sum() > 0]

[]

In [250]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5853 entries, 0 to 7093
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         5853 non-null   object
 1   subject    5853 non-null   object
 2   emailtext  5853 non-null   object
 3   label      5853 non-null   float64
dtypes: float64(1), object(3)
memory usage: 228.6+ KB

In [253]:
df['subject'] = df['subject'].astype(str)
df['label'] = df['label'].astype(int)

In [254]:
print(df.dtypes)

id           object
subject      object
emailtext    object
label         int32
dtype: object

In [255]:
df.to_parquet('data\labeldata.parquet')